# Milestone 3 - PySpark

<div style="font-size: 14px;">
By:

- Mohamed Ayman Mohamed Mohamed abo Tammaa
    - 52-20136
    - mohamed.abotammaa@student.guc.edu.eg
    - P02
    
</div>

## Objectives:
1. Loading the dataset (5%)
2. Perform some simple cleaning (30%)
    - Column renaming: 10%
    - Detect missing: 35%
    - Handle missing: 35%
    - Check missing : 20%
3. Perform some analysis on the dataset (30%)
4. Add new columns with feature engineering (15%)
5. Encode categorical columns (10%) 
6. Create a lookup table for encoding only (5%)
7. Saving Cleaned dataseta and lookup table (5%)
8. ***BONUS**: Saving the output into a postgres database (5%)

**Note that:** You may not need to run the spark containers since pyspark aleady
creates a mini server by default.

## Requirements:

### Part 0: Libraries & Setup

In [1]:
from pyspark.sql import functions as fn
from pyspark.sql import Window

In [2]:
from pyspark.sql import SparkSession, DataFrame
from pyspark import SparkContext

spark : SparkSession
sc : SparkContext

In [3]:

spark : SparkSession = SparkSession.builder.appName("m3_spark").getOrCreate()
sc : SparkContext = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/27 03:25:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data_dir = "../../Datasets/"
ORIGINAL_DATAFILE = "fintech_data_38_52_20136.parquet"
CLEAN_DATAFILE = "fintech_spark_52_20136_clean.parquet"
LOOKUP_FILE = "lookup_spark_52_20136.parquet"

In [5]:
from pyspark.sql.types import StringType, StructType, StructField
lookup_schema = StructType([
    StructField("column", StringType(), False),
    StructField("original", StringType(), True),
    StructField("imputed", StringType(), False)
])

Lookup_Table : DataFrame = spark.createDataFrame(schema=lookup_schema, data=[])

### Part 1: Loading the dataset:

Simply load the dataset from the parquet format given in the google drive above
- Load the dataset.
- Preview first 20 rows.
- How many partitions is this dataframe split into?
- Change partitions to be equal to the number of your logical cores

In [6]:
fintech_df_raw : DataFrame = spark.read.parquet(data_dir + ORIGINAL_DATAFILE)
fintech_df_raw.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         Customer Id|           Emp Title|Emp Length|Home Ownership|Annual Inc|Annual Inc Joint|Verification Status|Zip Code|Addr State|Avg Cur Bal|Tot Cur Bal|Loan Id|Loan Status|Loan Amount|State|Funded Amount|      Term|Int Rate|Grade|       Issue Date|Pymnt Plan|      Type|           Purpose|         Description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGI4Llx4YzFce...|             ARX LLC|    1 year|      MORTGAGE|   56700.0|            null|           Verified|   371xx|        TN|    34478.0|   379261.0|  72174| Fully Paid|     8500.0|   TN|       8500.0| 36 months|   0.079|    4|    13 April 2013|     false|INDIVIDUAL|debt_consolidation|         Debt Consol|
|YiIwXHgwZVx4OTlce...|Senior Project Ma...|   5 years|      MORTGAGE|   88000.0|            null|    Source Verified|   615xx|        IL|     3746.0|    41204.0| 119409| Fully Paid|    12000.0|   IL|      12000.0| 36 months|  0.0999|    9|15 September 2015|     false|Individual|       credit_card|Credit card refin...|
|Yicse3JceGJmXHg4O...|     Project Manager|   2 years|      MORTGAGE|   93500.0|            null|       Not Verified|   300xx|        GA|    11256.0|   157582.0| 201121|    Current|    20000.0|   GA|      20000.0| 60 months|  0.1899|   18|   16 August 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|Yid7XHhlMVx4OWFrX...|                null|  < 1 year|          RENT|   38000.0|            null|       Not Verified|   235xx|        VA|     4554.0|    40988.0|  95601|    Current|    10000.0|   VA|      10000.0| 36 months|   0.143|   12|  19 October 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YiJXXHhmN1x4Zjlce...|                null|      null|      MORTGAGE|   60000.0|            null|       Not Verified|   442xx|        OH|     4349.0|    56539.0|  50691|    Current|     6600.0|   OH|       6600.0| 36 months|  0.1308|    7| 19 December 2019|     false|Individual|       credit_card|Credit card refin...|
|YidceGQ0Vlx4MWNce...|          Accountant|   2 years|          RENT|   53000.0|            null|    Source Verified|   981xx|        WA|     2419.0|    41118.0| 120090| Fully Paid|    12000.0|   WA|      12000.0| 36 months|  0.1091|    6|   17 August 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGFjXHhiNVx4O...|Federal Officer T...|   9 years|          RENT|   85000.0|            null|       Not Verified|   201xx|        VA|     2582.0|    23241.0| 113335| Fully Paid|    11400.0|   VA|      11400.0| 36 months|  0.1099|    7|    15 March 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YiJceGM0aEJceDhlX...|          supervisor|   2 years|          RENT|   30000.0|            null|    Source Verified|   329xx|        FL|      415.0|     3317.0|  61115| Fully Paid|     7850.0|   FL|       7850.0| 36 months|  0.1786|   18|    15 March 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDg4XHhlZVx4M...|  Physical Therapist| 10+ years|          RENT|  112000.0|            null|       Not Verified|   112xx|        NY|     6634.0|    79602.0| 214661|    Current|    24000.0|   NY|      24000.0| 36 months|  0.0532|    5|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGE4XHgwYi1GX...|                null|      null|      MORTGAGE|   21500.0|            null|           Verified|   320xx|        FL|     6221.0|    62208.0|  38618| Fully Paid|     5925.0|   FL|       5925.0| 36 months|  0.1075|    7| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yic5VVx4YTFceGNmX...|  Joining Specialist|   7 years|      MORTGAGE|   70000.0|            null|    Source Verified|   373xx|        TN|    13909.0|    97363.0|  51060|    Current|     6725.0|   TN|       6725.0| 36 months|  0.1106|    8|     18 July 2018|     false|Individual|             other|               Other|
|YidkXHgxOFx4Zjhce...|MB Operations Sr ...|   4 years|          RENT|   66500.0|            null|    Source Verified|   750xx|        TX|     2909.0|    40724.0| 244454|    Current|    30000.0|   TX|      30000.0| 60 months|   0.124|    7|19 September 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGRmXHhhYVx4Y...|Field Service Man...|  < 1 year|          RENT|   65000.0|            null|       Not Verified|   787xx|        TX|     3007.0|    21050.0|  84814|    Current|    10000.0|   TX|      10000.0| 36 months|  0.0707|    1|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|Yidcclx4MDZceGY1X...|    Systems Engineer|   3 years|          RENT|   60000.0|            null|       Not Verified|   064xx|        CT|     2845.0|    36990.0|  25199| Fully Paid|     5000.0|   CT|       5000.0| 36 months|  0.0532|    4|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiJSXHg5MFxcXHg4N...|     Account Manager|   7 years|          RENT|   68000.0|            null|           Verified|   606xx|        IL|     5485.0|    49366.0| 235675| Fully Paid|    28000.0|   IL|      28000.0| 36 months|  0.1147|   10|    16 April 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YiJceDEwXHg4NDhce...|             manager| 10+ years|          RENT|   70000.0|            null|       Not Verified|   905xx|        CA|     1945.0|    33065.0|  64000|    Current|     8000.0|   CA|       8000.0| 36 months|  0.0899|    6|16 September 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidfXHgxMmlceGJlX...|                null|      null|      MORTGAGE|   72000.0|            null|    Source Verified|   021xx|        MA|     4337.0|    56375.0| 193130| Fully Paid|    20000.0|   MA|      20000.0| 36 months|  0.1212|    8| 12 November 2012|     false|INDIVIDUAL|       credit_card|      Lower Interest|
|YidRXHg5Mlx4YjRce...|            Mechanic| 10+ years|           ANY|   88000.0|            null|    Source Verified|   490xx|        MI|     7809.0|   132749.0| 140167|    Current|    14000.0|   MI|      14000.0| 60 months|   0.124|    7|    19 April 2019|     false|Individual|       credit_card|Credit card refin...|
|YidISFx4ZDJceGU1a...|Field Service Tec...| 10+ years|      MORTGAGE|  175000.0|            null|    Source Verified|   767xx|        TX|    13954.0|   209308.0|  68637|Charged Off|     8000.0|   TX|       8000.0| 36 months|    null|   12|   17 August 2017|     false|Individual|             other|               Other|
|YiJWXHg4Mlx4MDJce...|Administrative As...| 10+ years|      MORTGAGE|   83000.0|            null|       Not Verified|   900xx|        CA|     6404.0|   179312.0|   6902| Fully Paid|     2500.0|   CA|       2500.0| 36 months|  0.0619|    4|     18 June 2018|     false|Individual|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

Number of partitions originally:

In [7]:
print(f"The dataset is partioned into '''{fintech_df_raw.rdd.getNumPartitions()}''' partition(s)")

The dataset is partioned into '''1''' partition(s)

My logical cores:

In [8]:
import psutil

logical_cores = psutil.cpu_count(logical=True)
print(f"Number of logical cores im my pc: {logical_cores}")

Number of logical cores im my pc: 16

Repartitioning:

In [9]:
fintech_df_raw = fintech_df_raw.repartition(logical_cores)
print(f"The dataset is partioned into '''{fintech_df_raw.rdd.getNumPartitions()}''' partition(s)")

The dataset is partioned into '''16''' partition(s)

### Part 2: Cleaning

#### - Rename all columns (replacing a space with an underscore, and making it lowercase)

In [10]:
def clean_column_names(df : DataFrame) -> DataFrame:
    df_cpy = df
    for col in df.columns:
        df_cpy = df_cpy.withColumnRenamed(col, col.replace(" ", "_").lower())
    return df_cpy

fintech_df = clean_column_names(fintech_df_raw)
fintech_df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- annual_inc_joint: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- avg_cur_bal: double (nullable = true)
 |-- tot_cur_bal: double (nullable = true)
 |-- loan_id: long (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_amount: double (nullable = true)
 |-- state: string (nullable = true)
 |-- funded_amount: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- grade: long (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- pymnt_plan: boolean (nullable = true)
 |-- type: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- description: string (nullable = true)

#### - Detect missing
   - Create a function that takes in the df and returns any data structrue of your choice(df/dict,list,tuple,etc) which has the name of the column and percentage of missing entries from the whole dataset.
   - Tip : storing the missing info as dict where the key is the column name and value is the percentage would be the easiest.
#### - Prinout the missing info

In [11]:
def get_missing_values(df : DataFrame) -> dict:
    missing_values = {}
    for col in df.columns:
        missing_values[col] = df.filter(fn.col(col).isNull()).count() / df.count()
    # sort the dictionary by values (missing values) in descending order
    missing_values = dict(sorted(missing_values.items(), key=lambda x: x[1], reverse=True))
    return missing_values

missing_values = get_missing_values(fintech_df)
print(missing_values)

{'annual_inc_joint': 0.9298187199408066, 'emp_title': 0.08812430632630411, 'emp_length': 0.06977432482426933, 'int_rate': 0.04679985201627821, 'description': 0.009174990751017388, 'customer_id': 0.0, 'home_ownership': 0.0, 'annual_inc': 0.0, 'verification_status': 0.0, 'zip_code': 0.0, 'addr_state': 0.0, 'avg_cur_bal': 0.0, 'tot_cur_bal': 0.0, 'loan_id': 0.0, 'loan_status': 0.0, 'loan_amount': 0.0, 'state': 0.0, 'funded_amount': 0.0, 'term': 0.0, 'grade': 0.0, 'issue_date': 0.0, 'pymnt_plan': 0.0, 'type': 0.0, 'purpose': 0.0}

#### - Handle missing
- For numerical features replace with 0.
- For categorical/strings replace with mode

In [12]:
def get_imp_value(df : DataFrame, col : str, strategy : str = "mode") -> any:
    if strategy == "mean":
        imp_value = df.select(fn.mean(col)).collect()[0][0]
    else:
        # if strategy == "mode":
        imp_value = df.filter(fn.col(col).isNotNull()).groupBy(col).count()\
            .orderBy(fn.desc("count")).limit(1).select(col).collect()[0][0]
    return imp_value

In [13]:
from pyspark.sql.types import *
def handle_missing_values(df : DataFrame) -> DataFrame:
    missing_vals = dict(filter(lambda x: x[1] > 0, get_missing_values(df).items()))

    schema = df.schema
    for col in missing_vals.keys():
        if schema[col].dataType == IntegerType() or schema[col].dataType == DoubleType():
            df = df.fillna(subset=[col], value=0)
        else:
            # if schema[col].dataType == StringType() or schema[col].dataType == BooleanType():
            df = df.fillna(subset=[col], value=get_imp_value(df, col, "mode"))
    return df

fintech_df = handle_missing_values(fintech_df)

#### - Check missing
- Afterwards, check that there are no missing values

In [14]:
print("The number of missing values in the dataset after handling missing values: "+ \
    str(len(dict(filter(lambda x: x[1] > 0.0, get_missing_values(fintech_df).items())))))

The number of missing values in the dataset after handling missing values: 0

### Part 3: Encoding

Encode only the following categorical values
- Emp Length: Change to numerical
- Home Ownership: One Hot Encoding
- Verification Status: One Hot Encoding
- State: Label Encoding
- Type: One Hot Encoding
- Purpose: Label Encoding
- For the grade, only descretize it to be letter grade, not need to label encode it further

**DO NOT** Encode the employment title of description or any other column that is not mentioned above

First, define the functions:

In [15]:
def convert_emp_length_to_int(df : DataFrame) -> DataFrame:
    df = df.withColumn("emp_length", fn.regexp_replace("emp_length", "[^0-9]", ""))
    df = df.withColumn("emp_length", fn.col("emp_length").cast(IntegerType()))
    return df

In [16]:
def get_string_indexers(df : DataFrame, cols : list) -> list:
    from pyspark.ml.feature import StringIndexer
    return [StringIndexer(inputCol=col, outputCol=col+"_encoded",stringOrderType="alphabetDesc").fit(df) for col in cols]

In [17]:
def label_encode(df : DataFrame, cols : list) -> tuple:
    indexers = get_string_indexers(df, cols)
    for indexer in indexers:
        df = indexer.transform(df)
    # convert the encoded columns to integer type
    for col in cols:
        df = df.withColumn(col+"_encoded", fn.col(col+"_encoded").cast(IntegerType()))
    return df, indexers

In [18]:
def one_hot_encode(df : DataFrame, cols : list) -> DataFrame:
    from pyspark.ml.feature import OneHotEncoder
    from pyspark.ml.functions import vector_to_array

    # first, clean the column values (replace spaces and dashes with underscores) and convert them to lowercase
    for col in cols:
        df = df.withColumn(col, fn.lower(fn.regexp_replace(col, " ", "_")))\
            .withColumn(col, fn.lower(fn.regexp_replace(col, "-", "_")))


    # index and label encode the columns (prerequisite for one-hot encoding) (https://www.skytowner.com/explore/one_hot_encoding_in_pyspark)
    df, index_fitters = label_encode(df, cols)

    # one-hot encode the columns to vector
    encoder = OneHotEncoder(dropLast=False, inputCols=[col + "_encoded" for col in cols], outputCols=[col + "_hencoded" for col in cols])
    df_encoded = encoder.fit(df).transform(df)
    df_encoded = df_encoded.drop(*[col + "_encoded" for col in cols])
    
    # convert the vector to array
    df_encoded = df_encoded.select("*", *[vector_to_array(col).alias(col+"_array") for col in [col + "_hencoded" for col in cols]])
    df_encoded = df_encoded.drop(*[col + "_hencoded" for col in cols])

    # expand the array to columns and rename the columns
    for col, indexer in zip(cols, index_fitters): 
        num_categories = len(df_encoded.first()[col + "_hencoded_array"]) 
        labels = indexer.labels 
        cols_expanded = [fn.col(col + "_hencoded_array")[i].alias(f'{col}_{str(labels[i]).lower().replace(" ", "_").replace("-", "_")}') for i in range(num_categories)] 
        df_encoded = df_encoded.select("*", *cols_expanded)

    df_encoded = df_encoded.drop(*[col + "_hencoded_array" for col in cols])

    # Convert the columns to binary (0 and 1) 
    for col, indexer in zip(cols, index_fitters):
        labels = indexer.labels 
        for i in range(len(labels)):
            df_encoded = df_encoded.withColumn(f'{col}_{str(labels[i]).lower().replace(" ", "_").replace("-", "_")}', fn.col(f'{col}_{str(labels[i]).lower().replace(" ", "_").replace("-", "_")}').cast('boolean'))

    return df_encoded

In [19]:
def discretize_column(df : DataFrame, col : str, bins_limits :list = None, labels:list = None) -> DataFrame:
    if bins_limits is None and col == "grade":
        bins_limits = [5, 10, 15, 20, 25, 30]
        labels = ["A", "B", "C", "D", "E", "F", "G"]
    elif labels is None:
        labels = [f"{col}_{i}" for i in range(len(bins_limits) - 1)]
    
    df = df.withColumn(col+"_discretized", fn.when(fn.col(col) <= bins_limits[0], labels[0]).otherwise(fn.col(col)))
    for i in range(1, len(bins_limits)):
        df = df.withColumn(col+"_discretized", fn.when(fn.col(col+"_discretized") <= bins_limits[i], labels[i]).otherwise(fn.col(col+"_discretized")))
    df = df.withColumn(col+"_discretized", fn.when(fn.col(col+"_discretized") > bins_limits[-1], labels[-1]).otherwise(fn.col(col+"_discretized")))

    return df
discretize_column(fintech_df, "grade").select("grade", "grade_discretized").distinct().show(8)

+-----+-----------------+
|grade|grade_discretized|
+-----+-----------------+
|   21|                E|
|   29|                F|
|    9|                B|
|   35|                G|
|    8|                B|
|   33|                G|
|   17|                D|
|   10|                B|
+-----+-----------------+
only showing top 8 rows

Second, apply the functions:

In [20]:
# - Emp Length: Change to numerical
# - Home Ownership: One Hot Encoding
# - Verification Status: One Hot Encoding
# - State: Label Encoding
# - Type: One Hot Encoding
# - Purpose: Label Encoding
# - For the grade, only descretize it to be letter grade, not need to label encode it further

fintech_df = convert_emp_length_to_int(fintech_df)
fintech_df = one_hot_encode(fintech_df, ["home_ownership", "verification_status", "type"])
fintech_df = label_encode(fintech_df, ["state", "purpose"])[0]
fintech_df = discretize_column(fintech_df, "grade")

24/11/27 03:25:34 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [21]:
fintech_df.show(3)

+--------------------+---------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+----------+------------------+--------------------+-------------------+------------------+--------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+----------+---------------+---------------+-------------+---------------+-----------------+
|         customer_id|      emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|      issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_rent|home_ownership_own|home_ownership_other|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_joint_app|type_joint|type_individual|type_direct_pay|state_encoded|purpose_encoded|grade_discretized|
+--------------------+---------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+----------+------------------+--------------------+-------------------+------------------+--------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+----------+---------------+---------------+-------------+---------------+-----------------+
|YidceGJiS1x4OGN3X...|Account Manager|         1|      mortgage|   79000.0|             0.0|       not_verified|   950xx|        CA|    55198.0|   551977.0| 182410|    Current|    18475.0|   CA|      18475.0| 36 months|  0.0796|    4|   18 March 2018|     false|individual|       credit_card|Credit card refin...|              false|             false|               false|                   true|             false|                       false|                              false|                            true|         false|     false|           true|          false|           45|             11|                A|
|Yic6XHg5ND5ceDEzY...|        Teacher|        10|           own|   71000.0|             0.0|    source_verified|   700xx|        LA|     2120.0|    21195.0|  28829|    Current|     5000.0|   LA|       5000.0| 36 months|  0.1075|    6|16 February 2016|     false|individual|debt_consolidation|  Debt consolidation|              false|              true|               false|                  false|             false|                       false|                               true|                           false|         false|     false|           true|          false|           32|             10|                B|
|YiJceDFjXHg4NjZce...| Tax Specialist|        10|          rent|   60000.0|             0.0|    source_verified|   983xx|        WA|     2028.0|    20279.0|  64324|    Current|     8000.0|   WA|       8000.0| 36 months|  0.0949|   10|    16 July 2016|     false|individual|debt_consolidation|  Debt consolidation|               true|             false|               false|                  false|             false|                       false|                               true|                           false|         false|     false|           true|          false|            3|             10|                B|
+--------------------+---------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------------+----------+----------+------------------+--------------------+-------------------+------------------+--------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+----------+---------------+---------------+-------------+---------------+-----------------+
only showing top 3 rows

### Part 4: Feature Engineering

Write a function that adds the 3 following features. Try as much as you can to use built in fucntions in PySpark (from the functions library) check lab 8.
<br> Avoid writing UDFs from scratch.
- Previous loan issue date from the same grade
- Previoius Loan amount from the same grade
- Previous loan date from the same state and grade combined
- Previous loan amount from the same state and grade combined

First we need to convert the issue date to a date format:

In [22]:
def convert_issueD_to_date(df : DataFrame) -> DataFrame:
    df = df.withColumn("issue_date", fn.to_date(fn.to_timestamp(fn.col("issue_date"), "d MMMM yyyy")))
    return df

In [23]:

def add_new_features(df : DataFrame) -> DataFrame:
    #first convert the issue_date to date for proper date sorting
    df = convert_issueD_to_date(df)

    # Add prv_grade_loan_issue_date
    window = Window.partitionBy("grade").orderBy("issue_date")
    df = df.withColumn("prv_grade_loan_issue_date", fn.lag("issue_date").over(window))

    # Add prv_loan_amnt
    #TODO: check if this is correct
    df = df.withColumn("prv_loan_amount", fn.lag("loan_amount").over(window))

    # Add prv_state_grade_issue_date
    window = Window.partitionBy("state", "grade").orderBy("issue_date")
    df = df.withColumn("prv_state_grade_issue_date", fn.lag("issue_date").over(window))

    # Add prv_state_grade_loan_amount
    df = df.withColumn("prv_state_grade_loan_amount", fn.lag("loan_amount").over(window))

    return df

In [24]:
fintech_df = add_new_features(fintech_df)
fintech_df.filter(fn.col("grade") == 30)\
    .select("issue_date", "grade", "grade_discretized", "loan_amount", "prv_loan_amount", "prv_grade_loan_issue_date")\
        .orderBy("issue_date").show(10)
fintech_df.show(3)

+----------+-----+-----------------+-----------+---------------+-------------------------+
|issue_date|grade|grade_discretized|loan_amount|prv_loan_amount|prv_grade_loan_issue_date|
+----------+-----+-----------------+-----------+---------------+-------------------------+
|2013-01-13|   30|                F|    20000.0|           null|                     null|
|2013-02-13|   30|                F|     5000.0|        20000.0|               2013-01-13|
|2013-04-13|   30|                F|    35000.0|         5000.0|               2013-02-13|
|2013-05-13|   30|                F|    21600.0|        35000.0|               2013-04-13|
|2013-05-13|   30|                F|    28000.0|        21600.0|               2013-05-13|
|2013-06-13|   30|                F|    35000.0|        28000.0|               2013-05-13|
|2013-06-13|   30|                F|    22000.0|        35000.0|               2013-06-13|
|2013-08-13|   30|                F|    20000.0|        22000.0|               2013-06-13|
|2013-08-13|   30|                F|    10000.0|        20000.0|               2013-08-13|
|2013-08-13|   30|                F|    29000.0|        10000.0|               2013-08-13|
+----------+-----+-----------------+-----------+---------------+-------------------------+
only showing top 10 rows

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------+----------+----------+------------------+--------------------+-------------------+------------------+--------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+----------+---------------+---------------+-------------+---------------+-----------------+-------------------------+---------------+--------------------------+---------------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_rent|home_ownership_own|home_ownership_other|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_joint_app|type_joint|type_individual|type_direct_pay|state_encoded|purpose_encoded|grade_discretized|prv_grade_loan_issue_date|prv_loan_amount|prv_state_grade_issue_date|prv_state_grade_loan_amount|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------+----------+----------+------------------+--------------------+-------------------+------------------+--------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+----------+---------------+---------------+-------------+---------------+-----------------+-------------------------+---------------+--------------------------+---------------------------+
|YiJceDkwXHg5N1x4Y...|Heavy Equipment M...|         5|      mortgage|   80000.0|             0.0|       not_verified|   995xx|        AK|    21457.0|   343307.0| 155398|Charged Off|    15000.0|   AK|      15000.0| 60 months|  0.1144|    6|2015-01-15|     false|individual|       credit_card|Credit card refin...|              false|             false|               false|                   true|             false|                       false|                              false|                            true|         false|     false|           true|          false|           49|             11|                B|               2015-01-15|         9000.0|                      null|                       null|
|YidceGQ5XHhkNlx4Z...|Human Resource Co...|         2|          rent|   56640.0|             0.0|    source_verified|   998xx|        AK|     8633.0|   120855.0| 164448| Fully Paid|    16000.0|   AK|      16000.0| 36 months|  0.1153|    6|2015-10-15|     false|individual|debt_consolidation|  Debt consolidation|               true|             false|               false|                  false|             false|                       false|                               true|                           false|         false|     false|           true|          false|           49|             10|                B|               2015-10-15|        24000.0|                2015-01-15|                    15000.0|
|YidceDE1XHg4Zlx4Z...|               Pilot|         1|          rent|   98600.0|             0.0|    source_verified|   995xx|        AK|     3501.0|    21006.0| 262700|    Current|    36000.0|   AK|      36000.0| 36 months|  0.1198|    6|2018-02-18|     false|individual|             house|         Home buying|               true|             false|               false|                  false|             false|                       false|                               true|                           false|         false|     false|           true|          false|           49|              8|                B|               2018-02-18|        40000.0|                2015-10-15|                    16000.0|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------+----------+----------+------------------+--------------------+-------------------+------------------+--------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+----------+---------------+---------------+-------------+---------------+-----------------+-------------------------+---------------+--------------------------+---------------------------+
only showing top 3 rows

### Part 5: Analysis SQL VS Spark

Answer each of the following questions using both SQL and Spark:
#### 1. Identify the average loan amount and interest rate for loans marked as "Default" in the Loan Status, grouped by Emp Length and annual income ranges.<br>
Hint: Use SQL Cases to bin Annual Income into Income Ranges

In [25]:
fintech_df.select('loan_status').distinct().show()

+------------------+
|       loan_status|
+------------------+
|        Fully Paid|
|   In Grace Period|
|       Charged Off|
|Late (31-120 days)|
|           Current|
| Late (16-30 days)|
|           Default|
+------------------+

In [26]:
fintech_df.groupBy('loan_status').count().show()

+------------------+-----+
|       loan_status|count|
+------------------+-----+
|        Fully Paid| 7622|
|   In Grace Period|  159|
|       Charged Off| 1727|
|Late (31-120 days)|  325|
|           Current|17116|
| Late (16-30 days)|   79|
|           Default|    2|
+------------------+-----+

In [27]:
def avg_loanamnt_and_intrate_by_emplength_annualinc(df : DataFrame, withSQL: bool = False) -> DataFrame:
    # first smallize and fix the loan_status values
    df = df.withColumn("loan_status", fn.lower(fn.regexp_replace(fn.regexp_replace("loan_status", "-", "_"), " ", "_")))
    # get the 1st, 2nd, 3rd quartiles of annual_inc
    quartiles = df.approxQuantile("annual_inc", [0.25, 0.5, 0.75], 0.01)
    print(f"Quartiles of annual_inc: {quartiles}")
    if not withSQL:
        # bin the annual income first
        df_inc_discretized = discretize_column(df, "annual_inc", bins_limits=quartiles, labels=["low", "medium", "high", "very_high"])

        return df_inc_discretized.filter(fn.col("loan_status") == "default").groupBy("emp_length", "annual_inc_discretized").agg(fn.avg("loan_amount").alias("avg_loan_amount"),fn.avg("int_rate").alias("avg_int_rate"))
    # SQL
    query = f"""
        SELECT emp_length, 
            CASE 
                WHEN annual_inc <= {quartiles[0]} THEN 'low'
                WHEN annual_inc <= {quartiles[1]} THEN 'medium'
                WHEN annual_inc <= {quartiles[2]} THEN 'high'
                ELSE 'very_high'
            END AS annual_inc_discretized,
            AVG(loan_amount) AS avg_loan_amount,
            AVG(int_rate) AS avg_int_rate
        FROM fintech
        WHERE loan_status = 'default'
        GROUP BY emp_length, annual_inc_discretized
    """
    df.createOrReplaceTempView("fintech")
    return spark.sql(query)

In [28]:
test_df = fintech_df.select("emp_length", "annual_inc", "loan_amount", "int_rate", "loan_status")\
    .union(spark.createDataFrame([("10", 40000, 13927.0, 0.2219, "default"), \
                                  ("2", 10000, 5000.0, 0.1925, "default"),\
                                  ("2", 95000, 80123.0, 0.2456, "default")], \
            ["emp_length", "annual_inc", "loan_amount", "int_rate", "loan_status"]))

avg_loanamnt_and_intrate_by_emplength_annualinc(fintech_df).show()
avg_loanamnt_and_intrate_by_emplength_annualinc(test_df).show()

print("Using SQL" + "="*50)

avg_loanamnt_and_intrate_by_emplength_annualinc(fintech_df, withSQL=True).show()
avg_loanamnt_and_intrate_by_emplength_annualinc(test_df, withSQL=True).show()

Quartiles of annual_inc: [47500.0, 66000.0, 93000.0]
+----------+----------------------+---------------+------------+
|emp_length|annual_inc_discretized|avg_loan_amount|avg_int_rate|
+----------+----------------------+---------------+------------+
|        10|                   low|        13925.0|      0.2215|
|         2|                   low|         4000.0|      0.1899|
+----------+----------------------+---------------+------------+

Quartiles of annual_inc: [47500.0, 66000.0, 93000.0]
+----------+----------------------+---------------+------------+
|emp_length|annual_inc_discretized|avg_loan_amount|avg_int_rate|
+----------+----------------------+---------------+------------+
|        10|                   low|        13926.0|      0.2217|
|         2|                   low|         4500.0|      0.1912|
|         2|             very_high|        80123.0|      0.2456|
+----------+----------------------+---------------+------------+

Using SQL==================================================
Quartiles of annual_inc: [47500.0, 66000.0, 93000.0]
+----------+----------------------+---------------+------------+
|emp_length|annual_inc_discretized|avg_loan_amount|avg_int_rate|
+----------+----------------------+---------------+------------+
|        10|                   low|        13925.0|      0.2215|
|         2|                   low|         4000.0|      0.1899|
+----------+----------------------+---------------+------------+

Quartiles of annual_inc: [47500.0, 66000.0, 93000.0]
+----------+----------------------+---------------+------------+
|emp_length|annual_inc_discretized|avg_loan_amount|avg_int_rate|
+----------+----------------------+---------------+------------+
|        10|                   low|        13926.0|      0.2217|
|         2|                   low|         4500.0|      0.1912|
|         2|             very_high|        80123.0|      0.2456|
+----------+----------------------+---------------+------------+

#### 2. Calculate the average difference between Loan Amount and Funded Amount for each loan Grade and sort by the grades with the largest differences.

In [29]:
def avg_diff_loan_funded(df : DataFrame, withSQL: bool = False) -> DataFrame:
    if not withSQL:
        return df.withColumn("diff_loan_funded", fn.col("loan_amount") - fn.col("funded_amount"))\
            .groupBy("grade").agg(fn.avg("diff_loan_funded").alias("avg_diff_loan_funded"))\
                .orderBy("avg_diff_loan_funded", ascending=False)
    # SQL
    print("SQL")
    query = """
        SELECT grade,
        AVG(diff_loan_funded) AS avg_diff_loan_funded
        FROM 
        (
            SELECT loan_amount, funded_amount, grade,
                (loan_amount - funded_amount)   AS  diff_loan_funded
            FROM fintech
        )
        GROUP BY grade
        ORDER BY avg_diff_loan_funded DESC
        """
    df.createOrReplaceTempView("fintech")
    return spark.sql(query)

In [30]:
avg_diff_loan_funded(fintech_df).show(2)
test_df = fintech_df.select("loan_amount", "funded_amount", "grade")\
        .union(spark.createDataFrame([(10000, 9500, 36), (20000, 19000, 30)], ["loan_amount", "funded_amount", "grade"]))
avg_diff_loan_funded(test_df).show(3)

# print("SQL"+("="*50))
avg_diff_loan_funded(test_df,withSQL=True).show(3)
avg_diff_loan_funded(fintech_df, withSQL=True).show(2)

+-----+--------------------+
|grade|avg_diff_loan_funded|
+-----+--------------------+
|   29|                 0.0|
|   26|                 0.0|
+-----+--------------------+
only showing top 2 rows

+-----+--------------------+
|grade|avg_diff_loan_funded|
+-----+--------------------+
|   36|               500.0|
|   30|  10.989010989010989|
|   29|                 0.0|
+-----+--------------------+
only showing top 3 rows

SQL
+-----+--------------------+
|grade|avg_diff_loan_funded|
+-----+--------------------+
|   36|               500.0|
|   30|  10.989010989010989|
|   29|                 0.0|
+-----+--------------------+
only showing top 3 rows

SQL
+-----+--------------------+
|grade|avg_diff_loan_funded|
+-----+--------------------+
|   29|                 0.0|
|   26|                 0.0|
+-----+--------------------+
only showing top 2 rows

#### 3. Compare the total Loan Amount for loans with "Verified" and "Not Verified" Verification Status across each state (Addr State).

In [31]:
def sum_loan_amount_by_state(df : DataFrame, withSQL: bool = False) -> DataFrame:
    # first smallize and fix the loan_status values
    df = df.withColumn("verification_status", fn.lower(fn.regexp_replace(fn.regexp_replace("verification_status", "-", "_"), " ", "_")))
    if not withSQL:
        return df.filter((fn.col('verification_status') == "verified") | (fn.col('verification_status') == "not_verified"))\
                .groupBy("addr_state").agg(fn.sum("loan_amount").alias("state_sum_loan_amount"))
    #SQL
    query = """
        SELECT
            addr_state, SUM(loan_amount)
        from fintech
        WHERE verification_status = 'verified' OR
          verification_status = 'not_verified'
        GROUP BY addr_state

    """

    df.createOrReplaceTempView("fintech")
    return spark.sql(query)

In [32]:
fintech_df.filter((fn.lower(fn.col('verification_status')) == "verified") | (fn.lower(fn.col('verification_status')) == "not_verified"))\
.select("addr_state", "verification_status", "loan_amount").distinct().show(10)

+----------+-------------------+-----------+
|addr_state|verification_status|loan_amount|
+----------+-------------------+-----------+
|        NY|       not_verified|     3500.0|
|        CA|       not_verified|    24000.0|
|        FL|           verified|    10000.0|
|        FL|       not_verified|    24000.0|
|        AZ|       not_verified|    10000.0|
|        GA|       not_verified|     5000.0|
|        NJ|           verified|    25000.0|
|        NJ|       not_verified|    18000.0|
|        NY|           verified|    10000.0|
|        MI|           verified|     7800.0|
+----------+-------------------+-----------+
only showing top 10 rows

In [33]:
sum_loan_amount_by_state(fintech_df).show(5)

print("SQL"+("="*50))

sum_loan_amount_by_state(fintech_df, withSQL=True).show(5)

+----------+---------------------+
|addr_state|state_sum_loan_amount|
+----------+---------------------+
|        SC|            3193600.0|
|        AZ|            5617075.0|
|        LA|            2899775.0|
|        MN|            4632075.0|
|        NJ|          1.0058625E7|
+----------+---------------------+
only showing top 5 rows

SQL==================================================
+----------+----------------+
|addr_state|sum(loan_amount)|
+----------+----------------+
|        SC|       3193600.0|
|        AZ|       5617075.0|
|        LA|       2899775.0|
|        MN|       4632075.0|
|        NJ|     1.0058625E7|
+----------+----------------+
only showing top 5 rows

#### 4. Calculate the average time gap (in days) between consecutive loans for each grade using the new features you added in the feature engineering phase.

In [34]:
def avg_days_gap_for_grade(df : DataFrame, withSQL: bool = False) -> DataFrame:
    # make sure issue date is date
    df = convert_issueD_to_date(df)
    if not withSQL:
        return df.withColumn('days_gap', fn.datediff(fn.col('issue_date'), fn.col('prv_grade_loan_issue_date')))\
            .groupBy('grade').agg(fn.avg('days_gap').alias('avg_days_gap'))
    #SQL
    query ="""
        SELECT 
            grade,
            AVG(days_gap) AS avg_days_gap
        FROM (
            SELECT grade, DATEDIFF(DAY, prv_grade_loan_issue_date, issue_date) AS days_gap 
            FROM fintech
        )
        GROUP BY grade
    """
    df.createOrReplaceTempView("fintech")
    return spark.sql(query)

In [35]:
avg_days_gap_for_grade(fintech_df).show(6)
avg_days_gap_for_grade(fintech_df, withSQL=True).show(6)

+-----+------------------+
|grade|      avg_days_gap|
+-----+------------------+
|    1|2.3138622493461205|
|    2| 2.270316509837468|
|    3|2.2742073693230505|
|    4|2.2988013698630136|
|    5| 2.287931034482759|
|    6|1.6733921815889028|
+-----+------------------+
only showing top 6 rows

+-----+------------------+
|grade|      avg_days_gap|
+-----+------------------+
|    1|2.3138622493461205|
|    2| 2.270316509837468|
|    3|2.2742073693230505|
|    4|2.2988013698630136|
|    5| 2.287931034482759|
|    6|1.6733921815889028|
+-----+------------------+
only showing top 6 rows


#### 5. Identify the average difference in loan amounts between consecutive loans within the same state and grade combination.

In [36]:
def avg_diff_consecutive_loan_amount(df : DataFrame, withSQL: bool = False) -> DataFrame:
    # make sure issue date is date
    df = convert_issueD_to_date(df)
    if not withSQL:
        return df.withColumn('loans_diff', fn.col('loan_amount') - fn.col('prv_state_grade_loan_amount'))\
            .groupBy('grade', 'state').agg(fn.avg('loans_diff').alias('avg_diff_loan_amount'))
    #SQL
    query ="""
        SELECT 
            grade, state,
            AVG(loans_diff) AS avg_diff_loan_amount
        FROM (
            SELECT grade, state, (loan_amount - prv_state_grade_loan_amount) AS loans_diff 
            FROM fintech
        )
        GROUP BY grade, state
    """
    df.createOrReplaceTempView("fintech")
    return spark.sql(query)

In [37]:
avg_diff_consecutive_loan_amount(fintech_df).sample(0.1).show(8)
print("SQL"+("="*50))
avg_diff_consecutive_loan_amount(fintech_df, withSQL=True).sample(0.1).show(8)

+-----+-----+--------------------+
|grade|state|avg_diff_loan_amount|
+-----+-----+--------------------+
|    3|   AL| -133.33333333333334|
|    7|   AL|   488.8888888888889|
|   22|   AL|             -1795.0|
|   26|   AL|                null|
|   33|   AL|                null|
|    2|   AR|  1333.3333333333333|
|   22|   AR|                null|
|   11|   AZ|  -92.44186046511628|
+-----+-----+--------------------+
only showing top 8 rows

SQL==================================================
+-----+-----+--------------------+
|grade|state|avg_diff_loan_amount|
+-----+-----+--------------------+
|    9|   AL|               200.0|
|   12|   AL|  180.35714285714286|
|   24|   AR|                null|
|    1|   AZ|   785.7142857142857|
|    7|   AZ|   270.5882352941176|
|   10|   AZ| -211.53846153846155|
|    2|   CA| -27.027027027027028|
|   25|   CA|  281.57894736842104|
+-----+-----+--------------------+
only showing top 8 rows

### Part 6: Lookup Table & Saving the Dataset

#### Part 6.1: Lookup Table

- Create a lookup table for the encodings only

In [38]:
# label encoded columns are: state, purpose
def populate_lookup_table(df : DataFrame, cols : list) -> DataFrame:
    global Lookup_Table

    for col in cols:
        suffix = "_encoded" if col in ["state", "purpose"] else "_discretized"
        df_targets = df.select(col, f"{col}{suffix}" ).dropDuplicates(subset=[col, f"{col}{suffix}"]).orderBy(f'{col}{suffix}')
        df_targets = df_targets.withColumn("column", fn.lit(col))
        df_targets = df_targets.withColumnRenamed(col, "original")
        df_targets = df_targets.withColumnRenamed(f"{col}{suffix}", "imputed")
        Lookup_Table = Lookup_Table.union(df_targets.select("column", "original", "imputed"))
    return Lookup_Table

populate_lookup_table(fintech_df, ["state", "purpose", "grade"]).sample(0.1).show()

+------+--------+-------+
|column|original|imputed|
+------+--------+-------+
| state|      IL|     36|
| state|      HI|     38|
| grade|       9|      B|
| grade|      20|      D|
| grade|      23|      E|
| grade|      26|      F|
| grade|      33|      G|
+------+--------+-------+

#### Part 6.2: Saving the Dataset

- Finally load (save) the cleaned PySpark df and the lookup table to parquet
files

In [39]:
# Save the lookup table
Lookup_Table.write.mode("overwrite").parquet(data_dir + LOOKUP_FILE)

# save the pySpark dataframe
fintech_df.write.mode("overwrite").parquet(data_dir + CLEAN_DATAFILE)

In [ ]:
# fintech_df.write.mode("overwrite").csv(data_dir + "fintech_spark_52_20136_clean.csv", header=True)

### Part 7: Bonus - Loading to Postgres

- Load the cleaned parquet file and lookup table into a Postgres database.
- Take Screenshots showing the newly added features in the feature engineering section
- Take a screenshot from the lookup table

yx5cIsxRQIbBwOw2

In [40]:
import os
from supabase import create_client, Client

url: str = 'https://mdhrcvfeajsufjjbkwmd.supabase.co'
key: str = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kaHJjdmZlYWpzdWZqamJrd21kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI2Njk5MTMsImV4cCI6MjA0ODI0NTkxM30.-xOuYxJ8Xi84vL2BYMUq5Rt16791XIcJa7ijy2pVTk4'
supabase: Client = create_client(url, key)

## Deliverables
1. Python Notebook with the following naming m3_spark_<id>.ipynb eg.
m3_spark_52_XXXX.ipynb
2. Cleaned Parquet file named: fintech_spark_52_XXXX_clean.parquet
3. Lookup table named: lookup_spark_52_XXXX.parquet
4. Incase of doing the bonus: Screenshots from PGAdmin showing the cleaned table
(some of the rows) and another one showing the lookup table. <br>
> Note: All these files should reside in a folder for milestone 3, inside the root drive folder created previously in milestone 1.

### Submission guidelines
Upload all the deliverables in your google drive milestone folder.
Best of luck.

In [41]:
# Closing Spark Session Context
# sc.stop()